.page-wrap {
  max-width: 500px;
  margin: auto;
  background: white;
}

h1, li, p {
font-family: 'poppins' 'Roboto', sans-serif;
}

.header-section, .footer-section {
  border-radius: 15px;
  background-color: grey;
  padding: 10px;
  box-shadow: 0px 0px 10px #000000;
  padding: 20px 30px 20px;
}

.header-section {
  display: grid;
  grid-template-columns: auto auto;
}

.profile-image {
  width: 80%;
  box-shadow: 0px 0px 10px #000000;
}

.full-name h1 {
  font-size: 30px;
  color: white;
  text-shadow: 0px 0px 10px #000000;
  padding-left: 30px;
  margin-right: 35px;
  margin-top: 60px;
}

.content h1 {
  font-size: 25px;
  text-shadow: 0px 0px 10px #000000;
  margin-left: 20px;
}

.modules {
  max-width: 80%;
  margin-left: 20px;
  border-bottom: 1px solid black;
  padding-top: 10px;
  border-top: 1px solid black;
  padding-bottom:10px ;
  margin-bottom: 1px;
}

.content p {
  font-size: 15px;
  padding-left: 20x;
  font-style: italic;
  padding-bottom: 20px;
}

.footer-section {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: "Poppins", "Roboto", monospace;
}