body {
    font-family: "Roboto";
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: solid lightgoldenrodyellow;
    padding: 1rem;
    background: lightsteelblue;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background: white;
}