* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER SETTINGS */
header {
    background:#33501D;
    color: #FFFFFF;
    font-family: "Roboto Slab", serif;

}

h1 h2 h3 {
    font-family: "Inter", sans-serif;
}

p {
    font-family: "Gabarito", sans-serif;
}

/* NAV SETTINGS */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #33501D;
    color: #FFFFFF;
    font-family: "Roboto slab", serif;
}

.homelogo {
    font-size: 1.5rem;
    margin: .5rem;
}

.homelogo a {
    color: #FFFFFF;
}

.navlinks ul {
    display: flex;
}

.navlinks li{
    list-style: none;
}

.navlinks li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: #FFFFFF;
}

.navlinks li a:hover {
    color: #000000;
}

.navlinks li:hover {
    background-color: #FFFFFF;
}

.hamburgerbtn {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.hamburgerbtn .bar {
    height: 3px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
}

/* MAIN SETTINGS */
.scrollingcontainer {
    padding-bottom: 40px;
}


.scrollingflexbox1 {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 1em;
    background: #78050a;
    color: #FFFFFF;
    
}

.scrollingheader1 {
    position: sticky;
    color: #FFFFFF;
    background-color: #78050a;
    padding-left: 1em;
    padding-top: 10px;
    height: auto;
    width: auto;
}

.scrollingflexbox2 {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 1em;
    background: #78050a;
    color: #FFFFFF;
}

.scrollingheader2 {
    position: sticky;
    color: #FFFFFF;
    background-color: #78050a;
    padding-left: 1em;
    padding-top: 10px;
    height: auto;
    width: auto;
}
.scrollingflexbox3 {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 1em;
    background: #78050a;
    color: #FFFFFF;
}

.scrollingheader3 {
    position: sticky;
    color: #FFFFFF;
    background-color: #78050a;
    padding-left: 1em;
    padding-top: 10px;
    height: auto;
    width: auto;
}
.scrollingflexbox4 {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 1em;
    background: #78050a;
    color: #FFFFFF;
}

.scrollingheader4 {
    position: sticky;
    color: #FFFFFF;
    background-color: #78050a;
    padding-left: 1em;
    padding-top: 10px;
    height: auto;
    width: auto;
}

.card {
    flex: 0 0 auto;
    height: 300px;
    width: 300px;
    border: 3px solid #FFFFFF;
    margin: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

/* HERO IMAGE SETTINGS */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 60vh;
}

.hero h1 {
    font-size: 5em;
    margin-bottom: 0.2em;
}

.hero h2 {
    padding-bottom: 1em;
}

.getstartedbtn {
    display: block;
    width: 200px;
    border:3px solid #000000;
    padding: 1em;
    /* margin-left: 30em;
    margin-top: 15px; */
    margin: auto;
}

/* DISCOVER CSS */
.discovercontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
}

.greeting {
    border: 1px solid red;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.demographics {
    border: 1px solid red;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.statistical {
    border: 1px solid red;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.attractions {
    border: 1px solid red;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.events {
    border: 1px solid red;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.calendar {
    border: 1px solid red;
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

/* INIDIVIDUAL IMG POSITION CONTROL
.img1 {
    border: 1px solid red;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.img2 {
    border: 1px solid red;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.img3 {
    border: 1px solid red;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.img4 {
    border: 1px solid red;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.img5 {
    border: 1px solid red;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}
.img6 {
    border: 1px solid red;
    grid-column: 2 / 3;
    grid-row: 6 / 7;
} */

.discoverimg {
    grid-column: 2 / 3;
    grid-row: 1/ 7;
    border: 1px solid blue;
}
.discoverimg :hover {
    border: 1px solid blue;
    box-shadow: 0 0 50px #000000;
}

/* DIRECTORY CSS */


/* WEATHER CARD SETTINGS */

/* CURRENT DAY WEATHER SETTINGS */

.dayoneforecast {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* gap: 5px 20px; */
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    height: 300px;
    width: 300px;
    border: 3px solid #FFFFFF;
    margin: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.currentday {
    grid-column: 1 / 3;
    grid-row: 1;
}

.weathericon {
    max-width: 125px;
    max-height: 125px;
    padding: 0;
    grid-column: 1 / 3;
    grid-row: 2;
    justify-self: center;
}

.weatherdesc {
    padding-bottom: 10px;
    grid-column: 1/ 3;
    grid-row: 3;
}

.currentlowtemp {
    align-self: start;
    grid-column: 1;
    grid-row: 4;
}

.currenthightemp {
    align-self: start;
    grid-column: 2;
    grid-row: 4;
}

/* DAY TWO WEATHER SETTINGS */
.daytwoforecast {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* gap: 5px 20px; */
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    height: 300px;
    width: 300px;
    border: 3px solid #FFFFFF;
    margin: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.tomorrowsweather {
    grid-column: 1 / 3;
    grid-row: 1;
}

.daytwoweathericon {
    max-width: 125px;
    max-height: 125px;
    padding: 0;
    grid-column: 1 / 3;
    grid-row: 2;
    justify-self: center;
    
}

.daytwoweatherdesc {
    padding-bottom: 10px;
    grid-column: 1/ 3;
    grid-row: 3;
}

.daytwolowtemp {
    align-self: start;
    grid-column: 1;
    grid-row: 4;
}

.daytwohightemp {
    align-self: start;
    grid-column: 2;
    grid-row: 4;
}

/* DAY THREE WEATHER SETTINGS */
.daythreeforecast {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* gap: 5px 20px; */
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    height: 300px;
    width: 300px;
    border: 3px solid #FFFFFF;
    margin: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.twodaysawaysweather {
    grid-column: 1 / 3;
    grid-row: 1;
}

.daythreeweathericon {
    max-width: 125px;
    max-height: 125px;
    padding: 0;
    grid-column: 1 / 3;
    grid-row: 2;
    justify-self: center;
}

.daythreeweatherdesc {
    padding-bottom: 10px;
    grid-column: 1/ 3;
    grid-row: 3;
}

.daythreelowtemp {
    align-self: start;
    grid-column: 1;
    grid-row: 4;
}
.daythreehightemp {
    align-self: start;
    grid-column: 2;
    grid-row: 4;
} 

/* BANNER SETTINGS */
.banner {
    display: none;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: x-large;
    z-index: 1;
  }

  .closebanner {
    /* position: absolute;
    top: 36px;
    right: 40px; */
    position: fixed;
    left: 30px;
    color: white;
    cursor: pointer;
  }

/* FOOTER SETTINGS */
footer {
    background: #33501D;
    color: #FFFFFF;
    padding: 3em;
    text-align: center;
}