header {
    background: blue;
}

nav {
    background: black;
    font: white;
}

main h2 {
    background: white;
}

main h2 section ul {
    background: white;
    border: solid;
}

main section h3 {
    background: blue;
    border: solid;
}

footer {
    background: blue;
}

.card1 {
    background:white;
}

.card2 {
    background: green;
}