header {
    background: navy;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    width: 80%;
    margin: 0 auto;
}

header h1 {
    grid-column: 3;
    color: white;
    padding-top: 105px;
    font-family: 'Abril Fatface', cursive;
}

header nav {
    display: flex;
    background: black;
    color: white;
    grid-column: 1 / 5;
    grid-row: 2;
    text-align: center;
    flex-direction: column;
    font-family: 'Lora', serif;
    font-size: 20px;
    padding-top: 30px;
}

nav a {
    margin-bottom: 30px;
    text-decoration: none;
    /* color: #00c8f0; */
} 

a {
    color:#00c8f0;
}

a:visited {
    color: #5d891a;
}

a:hover {
    color: #1a893b;
}

img {
    width: 150px;
    height: 200px;
    grid-column: 2 / 3;
    padding-left: 70px;
    padding-top: 45px;
}

main{
    width: 75%;
    margin: 0 auto;
}

main h2 {
    background: white;
    border-bottom: solid;
    border-color: grey;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

section ul {
    list-style-type: None;
}

section p {
    text-align: center;
} 

main section h3 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

footer {
    background: navy;
    color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.card1 {
    background:white;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: thin;
    border-color: lightgray;
}

.card1 ul {
    font-family: 'Lora', serif
}

.card1 h3 {
    background: navy;
    color: white;
}

.card2 {
    background: white;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: thin;
    border-color: lightgray;
}

.card2 h3 {
    background: navy;
    color: white;
}

.card2 p {
    font-family: 'Lora', serif;
}

/* Test */