* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #FFF;
    --clr-secondary: #171717;
    --clr-accent: #ebebeb;

    --ff-primary: 'Rubik', sans-serif;
    --ff-secondary: 'Balthazar', serif;
    --ff-accent: 'BioRhyme', serif;      
}

body {
    font-family: var(--ff-primary);
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: var(--ff-accent);
    color: var(--clr-secondary);
    font-weight: 800;
}

h2, h3, p {
    margin-bottom: 1em;
}

h2 {

    border-bottom:1px solid var(--clr-accent);
}

section {
    padding: 4rem;
    /* border: 1px solid #000; */
}

.container {
    margin: 0 auto;
    min-width: 90%;
    max-width: 70.5rem;
}

.banner {
    /* background-color: var(--clr-accent); */
    background-color: var(--clr-primary);
    box-shadow: 7px 5px 10px var(--clr-secondary);
    /* border-radius: ; */
    max-width: 95%;
    margin: 0 auto;
    padding: 2px;
}

.closebanner, .highTemp {
    margin-left: 1rem;
}


img, .social {
    display: block;
    max-width: 100%;
    padding-bottom: 1em;
}

.getstartedbtn {
    position: absolute;
    min-width: 27%;
    border: 3px solid #FFF;
    padding: .5rem;
    bottom: 25rem;
    left: 2rem;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--clr-secondary);
    text-align: center;
    background: #FFF;
    border-radius: 64px;
    text-decoration: none;
}


.contentSplit {
    display: flex;
    flex-direction: column;
}

/* NAV SETTINGS */
header {
    padding: 2rem 0;
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
}

.homelogo {
    padding: 0;
}

.navbar, .navlinks ul, .navlinks li a {
    background-color: var(--clr-primary);
    font-family: var(--ff-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.navlinks li a {
    padding: 1rem .5rem;
    color: var(--clr-secondary);
    font-size: .9em;
} 

.shopName {
    font-size: 1.7em;
    margin: auto;
    padding: 0;
}

.navlinks li:hover {
    border-bottom: 3px solid var(--clr-secondary);
}

.greeting {
    position: absolute;
    top: 9rem;
    left: 1.5rem;
    font-size: 1.4rem;
    color: #FFF;
}
/* SOCIAL MEDIA SECTION */
 .mediaLinks {
    display: flex;
    flex-direction: row;
    gap: 1em;
 }


 /* RENTALS CSS SECTION  */
table {
    border-collapse: collapse;
    width: 95%;
    margin: 1rem auto;
    font-family: var(--ff-primary);
  }

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: var(--clr-accent);
  }

td {
    font-family: var(--ff-secondary);
}

.topHeader {
    background-color: blue;
    color: #FFF;
}

.tableSmall {
    overflow-x: auto;
}