@media (min-width: 40em) {
    /* BODY SETTINGS */
    body {
        font-size: 1.3rem;
    }


    
    /* NAV SETTINGS */
    .contentSplit {
        flex-direction: row;
    }

    .contentSplit > * {
        flex-basis: 100%;
    }

    div {
        gap: 1rem;
    }

    .navlinks li a {
        padding: 2rem .5rem;
        color: var(--clr-secondary);
        font-size: 1.1em;
    } 
    
    .shopName {
        font-size: 3em;
        margin: auto;
        padding: 0;
    }

    .navlinks li:hover {
        border-bottom: 3px solid var(--clr-secondary);
    }

    /* HERO SETTINGS */
    .getstartedbtn {
        position: relative;
        /* width: 15%; */
        border: 3px solid #FFF;
        padding: 1rem;
        bottom: 30rem;
        left: 10rem;
        font-size: 1.5em;
        font-weight: 600;
        color: var(--clr-secondary);
        text-align: center;
        background: #FFF;
        border-radius: 64px;
        text-decoration: none;
    }

}
