@media (min-width: 40em) {
    /* BODY SETTINGS */
    body {
        font-size: 1.3rem;
    }

    /* CONTACT PAGE CSS */
    .contactSection {
        flex-direction: row;
    }
    
    /* NAV SETTINGS */
    .contentSplit {
        flex-direction: row;
    }

    .contentSplit > * {
        flex-basis: 100%;
    }

    div {
        gap: 1rem;
    }

    .navlinks li a {
        padding: 2rem .5rem;
        color: var(--clr-secondary);
        font-size: 1.1em;
    } 
    
    .shopName {
        font-size: 3em;
        margin: auto;
        padding: 0;
    }

    .navlinks li:hover {
        border-bottom: 3px solid var(--clr-secondary);
    }

    /* HERO SETTINGS */
    
    .getstartedbtn {
        bottom: 20rem;
        font-size: 1.4em;
    }

    .greeting {
        top: 11rem;
        left: 1.5rem;
        font-size: 1.8em;
    }

    /* .locationMaps{

    } */
}
